[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptacular = "*"
marshmallow-sqlalchemy = "*"
plaster-pastedeploy = "*"
"psycopg2-binary" = "*"
pyramid = "*"
pyramid-debugtoolbar = "*"
"pyramid-jinja2" = "*"
pyramid-jwt = "*"
pyramid-restful-framework = "*"
pyramid-retry = "*"
pyramid-tm = "*"
requests = "*"
sqlalchemy = "*"
transaction = "*"
"zope.sqlalchemy" = "*"
waitress = "*"
pytest = "*"
pytest-cov = "*"
webtest = "*"
stocks-api = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.7"
